@media all and (min-width: 768px) {
    article{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
        "h1 h1"
        "p img"
        "p img"
        "p img"
        "p img"
        "p img";
    }
    article img{
        grid-area: img;
    }
    article p{
        grid-area: p;
    }
    article h1{
        grid-area: h1;
    }
}
@media all and (min-width: 992px) {
    section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    article{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: 
            "img h1"
            "img p"
            "img p"
            "img p"
            "img p"
            "img p";
    }
    article img{
        grid-area: img;

    }
    article p{
        grid-area: p;
    }
    article h1{
        grid-area: h1;
    }
}
article img{
    height: 320px;
}
article{
    padding-bottom: 10px;
    margin: 0;
    color: blanchedalmond;
}
article p{
    margin: 0;
}
article h1{
    background-color: rgba(135, 124, 161, 0.493);
    margin: 0;
}


